@import "../../styles/responsive.scss";

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    gap: 10px;
  }
}
